body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding:0; 
    height: 100vh;
    width: 100vw; 
    overflow-x: hidden; 
    overflow-y: auto; 
}

header, section, footer { 
    border-bottom: 0.5px solid #888; 
}

header {  
    background: white; 
    padding: 10px 0px 10px 0px; 
}
section {
    padding: 0px 20px 0px 0px; 
}

footer { 
    max-height: 20vh; 
    background: white; 
    padding: 10px 0px 20px 0px; 
}

h1, h3 { 
    color: #333;  
    text-align: center; 
    margin: 10px 0 10px 0;
}

h4 { 

    text-align: left; 
    margin: 3px 0 0 0;
}

p { 
    font-size: 1.1em; 
    color: #555; 
    text-align: center; 
    margin: 15px 0 00px 10px; 
}

   

.legend { 
    text-align: start; 
    margin:20 0 0px 20px; 
    padding: 20px 20px 10px 20px;
    font-weight: bold; 
}

.error { 
    color: red; 
}

.increase { 
    color: red; 
}

.decrease { 
    color: green; 
}

.trend-container {
    display: flex; 
    justify-content: space-between; 
    padding: 0px 20px 20px 20px;
    height: auto;
}

.trend-block { 
    width: 48%; 
    height: auto;
    padding: 20px 10px 10px 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;  
    display: flex; 
    flex-wrap: wrap; 
    align-content: start;
    justify-content: center; 
    gap: 10px;
}

.trend-block h3 { 
    margin-top: 0; 
    width: 100%;
    justify-content: center; 
}

.trend-item { 
    height: 140px; 
    max-height: 200px; 
    width: 200px;
    max-width: 250px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 8px; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-content: start;
    justify-content: center; 
    text-align: center; 
    background-color: #f9f9f9;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.trend-item:hover {
    transform: scale(1.5);
    z-index: 10;
}

.trend-item span { 
    margin: 5px 0 5px 0; 
    font-weight: bold; 
}

.trend-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.trend-item a:hover {
    text-decoration: none;
}

.trend-increase { 
    color: red; 
}

.trend-decrease { 
    color: green; 
}
.latest-value{
    color: blue;
}

footer { 
    text-align: center; 
    font-size: 0.9em; 
    padding: 20px; 

}
footer h3 {
    margin: 10px 0;
    color: #2F4F4F;
}
footer a {
    color: #1E90FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-icon i {
    font-size: 20px;
    margin-left: 5px;
    vertical-align: middle;
    color: #4e70a3; 
} 

/* Chart Container */
.chart-container {
    padding: 20px;
    height: 60vh; /* 增加高度 */
    margin: 0 auto;
    width: 70%; /* 增加寬度 */
    position: relative; /* 添加相對定位 */
    background-color: white; /* 添加背景色 */
    border-radius: 8px; /* 添加圓角 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加陰影 */
}

/* 確保 canvas 元素填滿容器 */
.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
    margin: 20px auto;
}

/* Table Container */
.table-container 
{
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 80vh;
    margin: 0 auto;
    width: 100%;

}

/* Blue-themed Table */
.table-container table {
    border-collapse: collapse;
    width: 50dvw;
    height: auto;
    margin: 0 auto;
   
    background-color: #E6F0FA;
    display: block;
   
    margin: 20px;
}

.table-container thead {
    display: table;
    width: 100%;
}

.table-container tbody {
    display: block;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;

    width: 100%;
}

.table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-container th,
.table-container td {
    border: 0.5px solid #5f7388;
    padding: 10px;
    text-align: left;
    color: #0b2b70; /* Dark slate color for text */
    font-size: 0.95em;
    
}

.table-container th {
    background-color: #4682B4; /* Steel blue for header */
    color: #FFFFFF; /* White text */
    font-weight: bold;
}

.table-container tr:nth-child(even) {
    background-color: #f3fbfd; /* Alice blue for alternating rows */
}

.table-container tr:hover {
    background-color: #709ac2; /* Light blue on hover */
}